.container {
    position: fixed;
    width: 95vw;
    height: 90vh;
}

.upperGap {
    width: 100vw;
    height: 10vh;
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: black;
}

.brushsize-container {
    display: inline;
    color: black;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}

.draw {
    width: 100%;
    height: 100%;
}

.board {
    width: 100%;
    height: 100%;
}